<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}"></head>

<body class="d-flex flex-column h-100 flex-shrink-0">
    <header th:replace="~{fragments/header :: header}"></header>
    <!-- About Section-->
    <section>

    </section>
    <!-- Footer-->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<!-- Bootstrap core JS-->
<script src="../static/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>

</html>