@charset "UTF-8";

/*
    메인색상 : #44DCCF
*/

body,
html {
    height: 100%;

    a{
        text-decoration: none;
    }
}
header {
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .nav-item.dropdown .dropdown-menu {
        display: none;
    }

    .dropdown-toggle::after {
        display: none;
    }
}

.bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rounded-4 {
    border-radius: 1rem !important;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.index-list{
    white-space : nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}

.crop-card{
    img {
        height: 180px;
        object-fit: cover;
    }
}

.facility-list{
    .ellipsis {
        display: inline-block; /* 특정 너비를 가지도록 상황에 따라 block or inline-block 으로 변경 */
        width: 14.375em; /* inline-block처럼 콘텐츠에 따라 유동적인 너비를 가진다면 직접 너비를 설정 */
        overflow: hidden; /* 넘치는 부분 가리기 */
        text-overflow: ellipsis; /* ... 처리하기 */
        white-space: nowrap; /* 줄바꿈 안하기 (한 줄 밑줄임표 적용) */
        font-size: 0.9em;
    }

    img{
        height:7.1875rem;
        object-fit: cover;
    }
}

.page-item .page-link {
    color: #000000;
    background-color: #fff;
    border: 1px solid #ccc;
}

.page-item.active .page-link {
    z-index: 1;
    color: #000000;
    background-color: #ffc107;
    border-color: #ccc;
}

.page-item .page-link:focus{
    z-index: 3;
    color: #000;
    outline: 0;
    background-color: #fafafa;
    border-color: #ccc;
}

.page-link:hover {
    z-index: 2;
    color: #000;
    background-color: #fafafa;
    border-color: #ccc;
}

@media all and (max-width:576px){
    .facility-list{
        img{
            width: 100px;
        }
        h5{
            font-size:1.1em;
        }
        .ellipsis {
            display: inline-block; /* 특정 너비를 가지도록 상황에 따라 block or inline-block 으로 변경 */
            width: 13em; /* inline-block처럼 콘텐츠에 따라 유동적인 너비를 가진다면 직접 너비를 설정 */
            overflow: hidden; /* 넘치는 부분 가리기 */
            text-overflow: ellipsis; /* ... 처리하기 */
            white-space: nowrap; /* 줄바꿈 안하기 (한 줄 밑줄임표 적용) */
            font-size: 0.7em;
        }
    }
}

.facility-view{
    img{
        max-height: 450px;
        object-fit: contain;
    }
}

.custom-table{
    font-size: 13px;

    thead {
        border-top: 3px solid black;
    }

    th{
        text-align:center;
    }

}

@media all and (max-width:576px) {
    .custom-table {
        font-size: 9px;
        th{
            font-size: 8px;
        }
    }
}

.mypage{
    nav {
        height: auto; /* 기본 높이 */
    }

    nav ul.nav {
        gap: 10px; /* 메뉴 간격 */
    }

    @media (max-width: 767px) { /* 작은 화면 */
        nav ul.nav {
            flex-direction: row; /* 메뉴 가로 배치 */
            text-align: center;
        }
    }

    .menu-title {
        color: #000 !important; /* 제목은 검정색 고정 */
    }

    .menu-items .nav-link {
        color: #6c757d !important; /* 메뉴 항목은 Secondary 색상 */
    }

    .menu-items .nav-link:hover {
        color: #495057 !important; /* 메뉴 항목 hover 색상 */
    }
}
