@charset "UTF-8";

/*
    메인색상 : #44DCCF
*/

body,
html {
    height: 100%;

    a{
        text-decoration: none;
    }
}


.bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rounded-4 {
    border-radius: 1rem !important;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.index-list{
    white-space : nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}

.crop-card{
    img {
        height: 180px;
        object-fit: cover;
    }
}

.ellipsis {
    display: inline-block; /* 특정 너비를 가지도록 상황에 따라 block or inline-block 으로 변경 */
    width: 240px; /* inline-block처럼 콘텐츠에 따라 유동적인 너비를 가진다면 직접 너비를 설정 */
    overflow: hidden; /* 넘치는 부분 가리기 */
    text-overflow: ellipsis; /* ... 처리하기 */
    white-space: nowrap; /* 줄바꿈 안하기 (한 줄 밑줄임표 적용) */
}



