<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}"></head>

<body class="d-flex flex-column h-100 flex-shrink-0">
    <header th:replace="~{fragments/header :: header}"></header>
    <!-- About Section-->
    <section class="pt-5">
        <div class="container px-5 facility-list">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-9">
                    <!-- 제목 부분 -->
                    <div class="mb-5">
                        <h3 class="me-3" style="display:inline;">공지사항 글쓰기</h3>
                    </div>

                    <!-- 글쓰기 항목 -->
                    <!-- 글 제목 -->
                    <div class="mb-4">
                        <div>
                            <label for="exampleFormControlInput1" class="form-label">글 제목</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력해주세요">
                        </div>
                    </div>

                    <!-- 글 내용 -->
                    <div class="mb-4">
                        <div>
                            <label for="exampleFormControlInput1" class="form-label">글 내용</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                    </div>
                    <!-- 버튼 -->
                    <div class="mb-4 d-flex justify-content-end">
                        <a th:href="@{'write'}" class="btn btn-outline-warning me-1" role="button">취소</a>
                        <a th:href="@{'write'}" class="btn btn-warning" role="button">등록하기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<!-- Bootstrap core JS-->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>

</html>